* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #f8e9cb;
    --main-text-color: #000080;
}

hr {
    padding: 0;
    border: 0;
    width: 100%;
    height: 4rem;
    margin-block: 1rem;
    background-color: rgba(171, 218, 127, 0.74);

}

/*
1st project
*/

.text-center {
    margin: 1rem;
    display: flex;
    align-items: center;
}

p::before {
    content: "";
    display: block;
    background: url(images/block.svg) no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    float: left;
    margin: 0 6px 0 0;
}


/*
2nd project
*/

.nav {
    padding: 1rem 3rem;
}

.nav__span a {
    text-decoration: none;
    font-weight: 600;
}

.nav__span a::after {
    content: " /";
}

.nav__div:first-child:hover::before {
    content: "\BB";
}

/* 
3rd project
*/

h2 {
    float: left;
    width: 170px;
}
.popup {
    float: left;
    width: 340px;
    background: #727272;
    padding: 10px;
    border-radius: 6px;
    color: #FFF;
    position: relative;
    font-size: 12px;
    line-height: 20px;
}

.popup::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #727272;
    position: absolute;
    top: 3px;
    left: -11px;
}

/* 
4rd project
*/

.link {
    padding: 2rem 4.375rem;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.link a {
    padding: 1rem;
}

.link a::before {
    content: "";
    display: inline-block;
    background-image: url(images/duck.svg);
    width: 2rem;
    height: 2rem;
    background-size: cover;
    margin-inline: 2rem;
    transition: 2s;
}

.link a::after {
    content: "";
    display: inline-block;
    background-image: url(images/duck.svg);
    width: 2rem;
    height: 2rem;
    background-size: cover;
    margin-inline: 2rem;
    transition: 2s;
}

.link a:hover::before {
    transform: rotate(45deg);
}

.link a:hover::after {
    margin-left: 10rem;
    width: 3rem;
    height: 3rem;
}