* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (min-width: 93.75em) {
    .properties-grid {
        grid-template-columns: repeat(3, 28.8125rem);
        grid-template-rows: repeat(3, 7.75rem);
    }

    .properties-outerline {
        width: 95.0625rem;
        height: 39.8125rem;
    }

}

@media (max-width: 93.75em) {
    .properties-grid {
        grid-template-columns: repeat(3, 18.5625rem);
        grid-template-rows: repeat(3, 7.75rem);
    }

    .properties-outerline {
        width: 65.625rem;
        height: 39.5625rem;  
    }

}

@media (max-width: 62.5em) {
    .properties-grid {
        grid-template-columns: repeat(1, 28rem);
        grid-template-rows: repeat(9, 6,25rem);
    }

    .properties-outerline {
        width: 34.5rem;
        height: 95.625rem; 
    }
}



:root {
    --dark-black: #1a1a1a;
    --light-gray: #eeeeee;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--dark-black);
}

.properties-outerline {
    display: flex;
    flex-direction: column;
    align-items:  center;
    margin: 5rem auto;
    border-radius: 1.625rem;
    box-shadow: 2px 2px 17px 3px rgba(110,110,110,0.75);
    max-width: 95%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    font-size: 1.75rem;
    line-height: 3.25rem;
    margin-top: 2.08rem;
}

.title p {
    font-size: 1.0625rem;
    line-height: 2.01875rem;
    margin-block: 0.31rem 1.72rem;
}

.properties-grid {
    display: grid;
    gap: 1.2rem;
}

.properties-grid img {
    display: block;
    width: 6.25rem;
    margin: 1rem;
    border-radius: 0.75rem;
}

.properties-city {
    display: flex;
    background-color: var(--light-gray);
    justify-items: center;
    border-radius: 0.75rem;
}

.properties-city-details {
    margin-inline: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.properties-city-details p {
    font-size: 1.1875rem;
    line-height: 1.425rem;
}

.properties-city-details p {
    font-size: 0.8125rem;
}